// набор системной цветовой палитры.

@c-error-10: #fff1f0;
@c-error-20: #ffccc7;
@c-error-30: #ffa39e;
@c-error-40: #ff7875;
@c-error-50: #ff4d4f;
@c-error-60: #f5222d;
@c-error-70: #cf1322;
@c-error-80: #a8071a;
@c-error-90: #820014;
@c-error-100: #5c0011;

@c-info-10: #e6f4ff;
@c-info-20: #bae0ff;
@c-info-30: #91caff;
@c-info-40: #69b1ff;
@c-info-50: #4096ff;
@c-info-60: #1677ff;
@c-info-70: #0958d9;
@c-info-80: #003eb3;
@c-info-90: #002c8c;
@c-info-100: #001d66;

@c-mark-50: #ffed00;

@c-success-10: #fcffe6;
@c-success-20: #f4ffb8;
@c-success-30: #eaff8f;
@c-success-40: #d3f261;
@c-success-50: #bae637;
@c-success-60: #a0d911;
@c-success-70: #7cb305;
@c-success-80: #5b8c00;
@c-success-90: #3f6600;
@c-success-100: #254000;

@c-warning-10: #fffbe6;
@c-warning-20: #fff1b8;
@c-warning-30: #ffe58f;
@c-warning-40: #ffd666;
@c-warning-50: #ffc53d;
@c-warning-60: #faad14;
@c-warning-70: #d48806;
@c-warning-80: #ad6800;
@c-warning-90: #874d00;
@c-warning-100: #613400;

// набор цветовой палитры сайта
@c-primary-10: #f0f5ff;
@c-primary-20: #d6e4ff;
@c-primary-30: #adc6ff;
@c-primary-40: #85a5ff;
@c-primary-50: #597ef7;
@c-primary-60: #2f54eb;
@c-primary-70: #1d39c4;
@c-primary-80: #10239e;
@c-primary-90: #061178;
@c-primary-100: #030852;

// набор оттенков серого.
@c-gray-10: #fcfcfc;
@c-gray-20: #f0f0f0;
@c-gray-30: #e3e3e3;
@c-gray-40: #d6d6d6;
@c-gray-50: #c9c9c9;
@c-gray-60: #bcbcbc;
@c-gray-70: #969696;
@c-gray-80: #707070;
@c-gray-90: #4a4a4a;
@c-gray-100: #242424;

@c-black: #000000;
@c-white: #ffffff;

// полупрозрачный белый
@c-white-05: fade(@c-white, 5%);
@c-white-10: fade(@c-white, 10%);
@c-white-20: fade(@c-white, 20%);
@c-white-30: fade(@c-white, 30%);
@c-white-40: fade(@c-white, 40%);
@c-white-50: fade(@c-white, 50%);
@c-white-60: fade(@c-white, 60%);
@c-white-80: fade(@c-white, 80%);

// полупрозрачный чёрный
@c-black-05: fade(@c-black, 5%);
@c-black-10: fade(@c-black, 10%);
@c-black-20: fade(@c-black, 20%);
@c-black-30: fade(@c-black, 30%);
@c-black-40: fade(@c-black, 40%);
@c-black-50: fade(@c-black, 50%);
@c-black-60: fade(@c-black, 60%);
@c-black-80: fade(@c-black, 80%);
